(security) {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}

{$APP_DOMAIN} {
	import security
	reverse_proxy frontend:3000
}

{$API_DOMAIN} {
	import security
	reverse_proxy backend:8000
}
